.BuildControl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:5px 0;

}
.BuildControl Button{
    display: block;
    padding:5px;
    margin:0 5px;
    border:1px solid #0b1216;
    cursor: pointer;
    outline: none;
}
.label_style{
    color:white;
    display: block;
    padding:5px;
    margin:0 5px;
    width:80px;
  
}
.text_style{
    color:white;
 
}