.OrderSummary_Btns{
    width :100%;

    display:flex;
    flex-flow:row;
    align-items: center;
    
    margin:auto;
    padding:10px 64px;
}
.BuildControls{
    width :100%;
    background-color:#0f1f2a ;
    display:flex;
    flex-flow:column;
    align-items: center;
    box-shadow: 0 2px 1px #0b1216 ;
    margin:auto;
    padding:10px 0;
}